*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff;
    transition:  .2s;
}


.border{
    border: 1px solid red;
}

.container{
    display: grid;
    height: 100dvh;
}

.wrapper{
    display: grid;
    grid-template-rows: 1fr max-content;
    grid-template-areas:  "main" "icons";
    /* align-items: center; */
    /* grid-template-columns: max-content 1fr; */
    /* padding: 2rem; */
}

.icons{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;

    grid-area: icons;
}
.icons .item{
    --dim : 50px;
    width: var(--dim);
    height: var(--dim);
    background-color: #fff;
    border-radius: 100px;
    border: 1px solid #fff;
    cursor: pointer;
}

.icons .item[data-bgcolor="red"]{ background-color: red;}
.icons .item[data-bgcolor="green"]{ background-color: green;}
.icons .item[data-bgcolor="blue"]{ background-color: blue;}
.icons .item[data-bgcolor="black"]{ background-color: black;}
.icons .item[data-bgcolor="white"]{
    background-color: white;
    border: 1px solid #aaa;
}

.main{
    display: grid;
    place-content: center;
    grid-area: main;
}

.main .about{
    display: grid;
    gap: 0.5rem;
    font-size: 14px;
    padding: 1rem;
    text-wrap: wrap;
}


@media(min-width:768px){
    .wrapper{
        grid-template-columns: max-content 1fr;
        grid-template-rows: auto;
        grid-template-areas:  "icons main";
    }
    .icons{
        flex-direction: column;
        padding: 0 1rem;

    }

    .main .about{
        width: 600px;
    }
}